@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.background-image {
  position: fixed;
  background: url("images/BG3.jpg") no-repeat center center / cover;
  width: 100%;
  height: 100%;
  opacity: 100;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: -1;
  }

nav {
  z-index: 1000;
  font-weight: 700;
}


.animated {
  font-size: 20px;
  text-decoration: none;
  background: linear-gradient(to right, #ffffff 50%,  teal 50%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}

.animated:hover {
 background-position: -100%;
}

.sidenav {
  position: fixed;
  background-image: url("images/BG5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: calc(100% + 60px);
}

.sidenav li:hover {
  background-color: teal;
}


section.container{
    min-width: auto;
    margin: 10% auto;
    text-align: center;
  }

button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
      border: 2px solid #ffffff;
      border-radius: 7px;
      color: #ffffff;
      padding: 15px 100px;
      overflow: hidden;
    }


 /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: "Poppins", sans-serif;
      font-size: 25px;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 25px;
        transition: all .3s ease-in-out;
      }

.bioData a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}


#about {
  z-index: 100;
  color: #ffffff;
  margin-top: 50px;
}

#about h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  letter-spacing: 2px;
  font-weight: bold;
}

#about h3 {
  font-size: 1.1em;
  text-align: center;
  margin: 20px;
  padding: 10px;
  letter-spacing: 1.2px;
  line-height: 20px;
}


.main {
  text-align: center;
  color: #ccc;
  margin-bottom: 100px;
  margin-top: 100px;
}
.main h2 {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-weight: 500;
}
.Personal-Info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main2 {
  text-align: left;
  padding-left: 15px;
  font-size: 1.3em;
  letter-spacing: 2px;
  margin: 10px;
}
.main1 {
  padding-right: 15px;
  text-align: right;
  font-size: 1.3em;
  letter-spacing: 2px;
  margin: 10px;
}


.Hunjoni {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mainSkills {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  align-items: center;
}

.skills {
  width: 100%;
  display: grid;
  padding-right: 20px;
}

.PS {
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #ccc;
  text-align: center;
  font-weight: 500;
}

.skills1, .skills2 {
  font-size: 1.3em;
  letter-spacing: 2px;
  color: #ccc;
}

.role {
  width: 100%;
  color: #ccc;
  padding-left: 20px;
}

.role h3 {
  font-size: 1.3em;
  text-align: right;
  letter-spacing: 2px;
}

.vl {
  border-left: 1px solid #fff;
  height: 30vh;
}

/* Media Query */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .nav-wrapper .brand-logo {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    width: 100%;
  }
  .bioData button {
    width: 3vw;
    height: 1vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  button:before {
    font-size: 15px;
  }
  button div{
        font-size: 15px;
  }
  .bioData a {
    font-size: 15px;
  }
  .sidenav {
    width: 200px;
  }
  .sidenav li {
    text-align: center;
  }

  .main h2 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-weight: 900;
  }

  .Personal-Info {
  display: grid;
  grid-template-columns: 1fr;
  }

  .main1 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
  padding: 10px;
  }

  .main2 {
  text-align: center;
  font-size: 1em;
  margin: 0;
  padding-bottom: 20px;
  }

  #about h2 {
    font-size: 1.2em;
  }

  #about h3 {
    font-size: .9em;
    letter-spacing: 2px;
    line-height: 20px;
  }

  .PS {
    font-size: 1.2em;
  }

  .vl {
    display: none;
  }
  .skillsDivider {
    
  }
  .mainSkills {
    display: grid;
    grid-template-columns: 1fr;
  }
  .skills {
    padding: 0;
  }
  .skills1 {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    padding-right: 8px;
    padding-left: 8px;
  }
  .skills2 {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    padding-right: 8px;
    padding-left: 8px;
  }
  .role {
    padding: 0;
    font-style: italic;
  } 
  .role h3 {
    text-align: center;
    font-size: 1em;
    padding-right: 8px;
    padding-left: 8px;
  }

  .Hunjoni {
    border: 1px solid #fff;
  }
}


/* Footer */

footer {
  opacity: .6;
}
.footer-copyright div {
  text-align: center;
}

footer .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li a i {
  font-size: 25px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  transition: 0.8s;
  text-align: center;
}

footer ul li a i:hover {
  transform: scale(1.4);
}




@media (max-width: 1199px) {
  .animated {
    font-size: 16px;
  }
}
